# Node modules
/node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build directory
/dist
/build

# Operating System files
.DS_Store
Thumbs.db

# Dependency directories for specific package managers
/.pnp
.pnp.js

# Coverage directory for test reports
/coverage

# IDE/Editor configuration files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
